@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap');

body {
  font-family: "Roboto", "Frutiger", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", "Frutiger", sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto', 
}
